@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.ground {
  z-index: -2;
  width: 100%;
  height: 70%;
  top: 30%;
  background-color: rgb(54, 42, 38);
  position: relative;
  overflow: visible;
}

body {
  background-color: rgb(182, 240, 255) !important;
  overflow: hidden;
  padding: 0px;
  margin: 0px !important;
}

.leaf1 {
  position: absolute;
  background-color: rgb(77, 113, 23);
  height: 160px;
  width: 60px;
  left: -100%;
  border-radius: 70%;
  transform-origin: bottom;
  animation: leaf1 0.5s both;
}

.leaf2 {
  position: absolute;
  background-color: rgb(77, 113, 23);
  height: 160px;
  width: 60px;
  left: -100%;
  border-radius: 70%;
  transform-origin: bottom;
  animation: leaf2 0.5s both;
}

.leaf3 {
  position: absolute;
  background-color: rgb(77, 113, 23);
  height: 160px;
  width: 60px;
  left: -100%;
  border-radius: 70%;
  transform-origin: bottom;
  animation: leaf3 0.5s both;
}

.leaf4 {
  position: absolute;
  background-color: rgb(77, 113, 23);
  height: 160px;
  width: 60px;
  left: -100%;
  border-radius: 70%;
  transform-origin: bottom;
  animation: leaf4 0.5s both;
}

@keyframes leaf1 {
  0% {
    transform: scale(0.2) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(-30deg);
  }
}
@keyframes leaf2 {
  0% {
    transform: scale(0.2) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(30deg);
  }
}
@keyframes leaf3 {
  0% {
    transform: scale(0.2) rotate(0deg);
  }
  100% {
    transform: scale(1.5) rotate(45deg);
  }
}
@keyframes leaf4 {
  0% {
    transform: scale(0.2) rotate(0deg);
  }
  100% {
    transform: scale(1.5) rotate(-40deg);
  }
}
.meteorPath {
  width: 100%;
  position: absolute;
  transform: rotate(25deg);
  pointer-events: none;
}

.meteorPath div {
  pointer-events: all;
}

.petalclosed {
  position: absolute;
  width: 100px;
  height: 10px;
  border-radius: 50%;
  transform-origin: center;
  left: -50%;
  top: 50%;
  transition: transform 0.2s;
}

.meteorGo {
  transform-origin: center;
  animation: meteorRotate 2s linear infinite;
}

@keyframes meteorRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.meteor {
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.meteor2 {
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: relative;
}
.newPetal {
  position: relative;
  width: 100px;
  height: 10px;
  border-radius: 50%;
  transform-origin: center;
  animation: petalSpin 0.2s 10;
}

.newPetalContainer {
  position: absolute;
  animation: petalFall 2.5s both;
  overflow: visible;
}

@keyframes petalSpin {
  0% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(0.1);
  }
  75% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
    /* translateY(500%) */
  }
}
@keyframes petalFall {
  100% {
    transform: translateY(700px);
  }
}
.stemRoot {
  z-index: -1;
  height: 50px;
  width: 10px;
  position: absolute;
  background-color: rgb(35, 104, 35);
}

.stem {
  height: 50px;
  width: 10px;
  position: relative;
  transform-origin: top;
  background-color: rgb(87, 117, 42);
  top: 100%;
}